.enhanceList {
  height: 100%;
}
.swipeItem {
  width: 100%;
  position: relative;
}
.swipeItem .content {
  position: relative;
  width: 100%;
  left: 0;
}

.swipeItem .extWrapper {
  height: 100%;
  display: flex;
  position: absolute;
  right: 0;
  top: 0;
}
.extItem {
  color: #fff;
  white-space: nowrap;
  text-align: center;
  flex-grow: 1;
  overflow: hidden;
  display: flex;
  align-items: center;
  line-height: 1.4;
}
.loading {
  color: #bfbfbf;
  font-size: 24px;
  height: 72px;
  display: flex;
  align-items: center;
  justify-content: center;
}
