.body {
  padding: 32px 24px;
}
.item {
  height: 172px;
}
.label {
  height: 96px;
  line-height: 96px;
  display: flex;
  justify-content: space-between;
}

button {
  height: 84px;
  line-height: 84px;
}
.scan {
  margin-right: 24px;
  /* position: absolute; */
}
