.app {
  background-color: #f1f2f5;
  height: 100vh;
}
.nav {
  width: 100%;
  position: fixed;
  box-sizing: border-box;
}
.navTitle {
  position: fixed;
  text-align: center;
  width: 100%;
  color: #fff;
  z-index: 999;
}
.info {
  width: 100%;
  height: 420px;
  position: relative;
  background: #fff;
}
.info image {
  width: 100%;
  height: 342px;
}
.contentWrapper {
  position: relative;
  width: 100%;
  height: 228px;
  padding: 0 32px;
  display: flex;
  position: absolute;
  left: 0;
  bottom: 20px;
  box-sizing: border-box;
}
.content {
  background-color: #fff;
  height: 228px;
  width: auto;
  flex: 1;
  background: #ffffff;
  border-radius: 24px;
  box-shadow: 0px 0px 20px 0px rgba(224, 233, 255, 0.6);
}
.function {
  width: 100%;
  padding: 0 32px;
  box-sizing: border-box;
  background: #fff;
}
.functionTitle {
  padding: 30px 0 24px;
  font-size: 40px;
  font-family: PingFang-SC-Bold, PingFang-SC;
  font-weight: bold;
  color: #454553;
  line-height: 44px;
}
.items {
  overflow: hidden;
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 24px;
  justify-content: space-between;
}
.item {
  background: #ffffff;
  box-shadow: 0px 0px 20px 0px rgba(224, 233, 255, 0.6);
  border-radius: 16px;
  margin-bottom: 20px;
  height: 154px;
  width: 330px;
  display: flex;
  align-items: center;
}
.item image {
  width: 74px;
  height: 74px;
  margin: 0 24px;
}
.item text {
  font-size: 34px;
  font-family: PingFang-SC-Bold, PingFang-SC;
  font-weight: bold;
  color: #454553;
  line-height: 48px;
}
/* .avatarWrapper; */
.avatarWrapper {
  padding: 32px 32px 0 32px;
  display: flex;
  align-items: center;
}
.info .avatar {
  width: 118px;
  height: 118px;
  margin-right: 24px;
  border-radius: 50%;
}
.nameText {
  font-size: 36px;
  font-family: PingFangSC-Medium, PingFang SC;
  font-weight: 500;
  color: #29374d;
}
.subtitle {
  padding: 0 32px;
  font-size: 26px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  color: #6a6a6a;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.subtitleBtn {
  width: 200px;
  /* height: 60px; */
  border: 0;
  margin: 0;
}
.icon {
  position: absolute;
  right: 84px;
  top: 56px;
}
.qrCode {
  position: fixed;
  z-index: -100;
}
.form {
  width: 590px;
  background-color: #fff;
  padding: 40px;
  border-radius: 20px;
}
.formItem {
  height: 108px;
  padding-bottom: 24px;
  font-size: 28px;
  color: #bfbfbf;
}
.phone {
  height: 108px;
}
.footer {
  display: flex;
  justify-content: space-between;
}
.footer .btn {
  width: 243px;
  height: 80px;
  border-radius: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 32px;
  font-family: PingFangSC-Regular, PingFang SC;
  font-weight: 400;
  line-height: 45px;
}
.footer .btn.cancel {
  background: #f1f1f1;
  color: #6a6a6a;
}
.footer .btn.ok {
  background: #1e8aff;
  color: #ffffff;
}
.item {
  height: 100px;
}
